body {
  padding: 20px;
  font-size: 20px;
}

#menu-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #ddd;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #f1f1f1;
  padding: 20px;
  overflow: auto;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

#menu-icon {
  font-size: 20px;
  color: #333;
  transition: transform 0.3s ease-in-out;
}

#sidebar.hidden {
  transform: translateX(-100%);
}

#search-container {
  margin-top: 20px;
  padding-left: 0px;
}

#search {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
}

#songDisplay {
    margin-top: 0px;
    flex: 3;
    overflow: auto;
    height: 100vh;
    padding-left: 2em;
}

.song {
    cursor: pointer;
    margin-bottom: 1em;
}

.song.active {
    font-weight: bold;
}

.song-title {
  font-size: 1.2em; 
  margin-bottom: 0.3em;
  font-weight: bold;
}

.song-author {
  font-size: 1.1em; 
  margin-bottom: 1em;
}

.stanza {
  margin-top: 1.3em;
}

.stanza .line {
  margin-bottom: 0.3em;
}

#sidebar p{
  margin-top: 10px;
  margin-left: 45px
}

/* Increase size for small screens */
@media (max-width: 600px) {
  body {
    font-size: 24px;
  }

  #sidebar {
    width: 300px;
    font-size: 24px;
  }

  .song-title {
    font-size: 1.4em;
  }

  .song-author {
    font-size: 1.3em;
  }
}
